# Micron+ simple preheat macro
#----------------------------------------------------------------------------------------

[gcode_macro PREHEAT]
gcode:
	SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=111	# set bed heater to 105c
    #M106 S0                                                # turn off part cooling fan if it's running (to avoid stalling it on homing X)
	G28														# home all axis
	M106 S176												# set part cooling fan to 69%
	G1 X85 F6000											# move X axis to center of bed
	G1 Y90 F6000											# move Y axis to center of bed
    G1 Z30 F6000                                            # move nozzle 30mm above buildplate
	M84														# disable steppers
    SET_GCODE_OFFSET Z=0                                    # clear Z-Offset